<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My first dynamic Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/titanic">Titanic</a></li>
                <li><a href="https://github.com/gala-ch/docker">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="https://duet-cdn.vox-cdn.com/thumbor/0x0:900x500/2400x1600/filters:focal(450x250:451x251):format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/6438793/this-is-fine.jpg" alt="when nothing works when deploying">
        <h1>I have been seen {{ count }} times.</h1>
        <ul>
            {% for i in range(1, count+1) %}
            <li>{{ i }}: Hello {{ name }}! </li>
            {% endfor %}
        </ul>
        <a href="https://www.hwr-berlin.de">check out the HWR website here</a>
    </main>
    <footer>Gala Chaparro</footer>
</body>

</html>


