<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Titanic Data</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/titanic">Titanic</a></li>
                <li><a href="https://github.com/gala-ch/docker">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Titanic Data</h1>
        <table>
            {{ table|safe }}
        </table>

        <div id="bar-chart"></div>
    </main>

    <footer>Gala Chaparro</footer>

    <script>
        var maleSurvived = {{ male_survived }};
        var femaleSurvived = {{ female_survived }};

        var data = [
            {
                x: ['Male', 'Female'],
                y: [maleSurvived, femaleSurvived],
                type: 'bar'
            }
        ];

        var layout = {
            title: 'Survivors by Gender',
            xaxis: {title: 'Gender'},
            yaxis: {title: 'Number of Survivors'}
        };

        Plotly.newPlot('bar-chart', data, layout);
    </script>
</body>

</html>

